body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("http://images6.fanpop.com/image/photos/40600000/Snoopy-peanuts-40613455-1600-1200.jpg");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
  width: 1920px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: black;
  font-family: 'peanutsregular', 'helvetica'
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  font-family: 'peanutsregular', 'helvetica'
  
}
.topbar{
  height:32px;
  background-color: lightblue;
  font-family: 'peanutsregular', 'helvetica'
}

@font-face {
  font-family: 'peanutsregular';
  src: url('/Users/stiggymac/Downloads/webfontkit-20190510-195117/peanuts_-webfont.woff2') format('woff2'),
       url('/Users/stiggymac/Downloads/webfontkit-20190510-195117/peanuts_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.title{
  background-color: lightblue;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.gifs{
  position:absolute;
  border: hidden;
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(3.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(3.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}
.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:200% 200%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.centered {
  position: fixed; 
  top: 50%;
  left: 50%;
}
